<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="MongoConnection" value="mongodb+srv://onion_db_user:Adrian2008@cluster0.k1a7n75.mongodb.net/?retryWrites=true&amp;w=majority" />
		<add key="MongoDatabaseName" value="db_notas" />
	</appSettings>

</configuration>